%h4
  = t('.video_only_from_youtube')
= simple_form_for @video do |f|
  - f.with_options input_html: { class: 'col-md-6' } do |f|
    = f.input :link
    .form-actions
      = f.button :submit, t('.add_video'), class: 'btn btn-primary'
      = link_to t('cancel'), @genre, class: 'btn'
