= stylesheet_link_tag "videos"

%h3= t('.admins_video_of_genre')
%h3= @genre.title

= render 'form'

= link_to t('back'), @genre, class: 'btn margin-bottom'

- @videos.each do |video|
  .video.margin-bottom
    = video.from_youtube
    %br
    = link_to t('destroy'), video, method: :delete, data: { confirm: t('confirm') }, class: 'btn btn-danger margin-bottom'
