.span5
  = office_on_google_map
  %br
  %br
  = t('.our_adress')
  %br
  %span.eng_symbols= t('.phone')
  %br
  %span.eng_symbols= t('.email')
  %br
.span4
  = t('.ride_to_us')
.span2
  %a.fancy{href: "http://cs314625.vk.me/v314625602/1571/iCQR_l2YjSY.jpg"}
    %img.img-polaroid{src: "http://cs314625.vk.me/v314625602/1571/iCQR_l2YjSY.jpg"}/
  %br
  %a.fancy{href: "http://cs314625.vk.me/v314625602/14f9/AuGOlAzfAGw.jpg"}
    %img.img-polaroid{src: "http://cs314625.vk.me/v314625602/14f9/AuGOlAzfAGw.jpg"}/
  %br
  %a.fancy{href: "http://cs314625.vk.me/v314625602/1567/YucReQXoujE.jpg"}
    %img.img-polaroid{src: "http://cs314625.vk.me/v314625602/1567/YucReQXoujE.jpg"}/
  %br
