.span5
  %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&source=s_q&hl=ru&geocode=&q=%D0%BB%D0%BE%D0%BD%D0%B4%D0%BE%D0%BD+%D0%B1%D0%B5%D0%B9%D0%BA%D0%B5%D1%80+%D1%81%D1%82%D1%80%D0%B8%D1%82+%D0%B4%D0%BE%D0%BC+%D1%88%D0%B5%D1%80%D0%BB%D0%BE%D0%BA%D0%B0+%D1%85%D0%BE%D0%BB%D0%BC%D1%81%D0%B0&aq=&sll=51.521428,-0.156984&sspn=0.015541,0.039482&t=h&ie=UTF8&hq=%D0%BB%D0%BE%D0%BD%D0%B4%D0%BE%D0%BD+%D0%B1%D0%B5%D0%B9%D0%BA%D0%B5%D1%80+%D1%81%D1%82%D1%80%D0%B8%D1%82+%D0%B4%D0%BE%D0%BC+%D1%88%D0%B5%D1%80%D0%BB%D0%BE%D0%BA%D0%B0+%D1%85%D0%BE%D0%BB%D0%BC%D1%81%D0%B0&hnear=&radius=15000&ll=51.523759,-0.158364&spn=0.124265,0.315857&z=12&iwloc=A&cid=18217667258400327923&output=embed", :width => "425"}
  %br
  %small
    %a{:href => "https://maps.google.com/maps?f=q&source=embed&hl=ru&geocode=&q=%D0%BB%D0%BE%D0%BD%D0%B4%D0%BE%D0%BD+%D0%B1%D0%B5%D0%B9%D0%BA%D0%B5%D1%80+%D1%81%D1%82%D1%80%D0%B8%D1%82+%D0%B4%D0%BE%D0%BC+%D1%88%D0%B5%D1%80%D0%BB%D0%BE%D0%BA%D0%B0+%D1%85%D0%BE%D0%BB%D0%BC%D1%81%D0%B0&aq=&sll=51.521428,-0.156984&sspn=0.015541,0.039482&t=h&ie=UTF8&hq=%D0%BB%D0%BE%D0%BD%D0%B4%D0%BE%D0%BD+%D0%B1%D0%B5%D0%B9%D0%BA%D0%B5%D1%80+%D1%81%D1%82%D1%80%D0%B8%D1%82+%D0%B4%D0%BE%D0%BC+%D1%88%D0%B5%D1%80%D0%BB%D0%BE%D0%BA%D0%B0+%D1%85%D0%BE%D0%BB%D0%BC%D1%81%D0%B0&hnear=&radius=15000&ll=51.523759,-0.158364&spn=0.124265,0.315857&z=12&iwloc=A&cid=18217667258400327923", :style => "color:#0000FF;text-align:left"} Просмотреть увеличенную карту
  %br
  = t('.our_adress')
  %br
  = t('.phone')
  %br
  = t('.email')
  %br
  = t('.skype')
  %br
.span4
  = t('.ride_to_us')
.span2
  %img.img-polaroid{ :src => "logo.png" }
  %br
  %img.img-polaroid{ :src => "logo.png" }
  %br
  %img.img-polaroid{ :src => "logo.png" }
  %br
