= javascript_include_tag  'jquery-1.10.1.min.js'
= stylesheet_link_tag     'fotorama'
= javascript_include_tag  'fotorama'
= stylesheet_link_tag     'welcome'
= javascript_include_tag 'http://vk.com/js/api/openapi.js'
.col-md-4
  .row
    - if @news
      %a{ href: news_index_path }
        %h3= t('news')
      %table.table.table-hover
        - @news.each do |news|
          %tr.table-aligned.link{ data: { href:  news_path(news) } }
            %th
              %a{ href: news_path(news) }
                %img.img-rounded.micro{ src: news.main_photo_thumb }
              %p{ align: :center }
                %small= news.published_date
            %th
              %a{ href: news_path(news) }
                = news.title
      %a.btn.btn-info{ href: news_index_path }
        = t('.all_news')
      %hr
  .row
    - if @video
      %h3
        = t('.sky_dance_video')
      %h4
        %a{ href: genre_path(@video.genre) }
          = @video.genre.title
      = @video.from_youtube
      %br
    %a.btn.btn-info{ href: 'http://vk.com/videos-54275923' }
      = t('.video_our_group_vk')
    %hr
  .row
    %h3= t('.last_photos')
    - @photos_bottom.each do |photo|
      %img.img-polaroid.mini{ src: photo.photo.thumb }
    %br
    %br
    %a.btn.btn-info{ href: 'http://vk.com/albums-54275923' }
      = t('.photo_our_group_vk')
  %hr
  .row
    .vk-widget
      #vk_groups
      :javascript
        VK.Widgets.Group('vk_groups', { mode: 0, width: 'auto', height: '400' }, 54275923);
.col-md-4
  .row
    %a{ href: teachers_path }
      %h3
        = t('teachers')
    .fotorama{ data: { transition: :crossfade,  autoplay: :true, loop: :true, nav: :thumbs, width: '100%', ratio: '1600/1200', fit: :contain } }
      - @teachers.each do |teacher|
        %img{ src: teacher.first_photo, data: { caption: teacher.fio } }
    %br
    %br
  .row
    .main_text
      = t('.text_about_sky_dance')
  .row
    - unless params[:contact] == 'success'
      %hr
      %h3
        Форма для связи
      = simple_form_for @contact, url: { controller: 'api/contacts', action: :create } do |f|
        = f.input :name, as: :string
        = f.input :phone, as: :string
        = f.input :comment, as: :string
        = f.button :submit, t('.request_call')
.col-md-3
  %a{ href: genres_path }
    %h3
      = t('dances')
  %table.table.table-hover
    - @genres.each do |genre|
      %tr.table-aligned
        %th
          %a{ href: genre_path(genre) }
            %img.img-circle.micro{ src: genre.photo }
        %th
          %a{ href: genre_path(genre) }
            = genre.title
