= simple_form_for @news, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :body
  = f.input :published_at
  = f.input :photo
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), news_index_path, :class => 'btn'
