= stylesheet_link_tag "news"

= simple_form_for @news do |f|
  - f.with_options input_html: { class: :span6 } do |f|
    .field
      = f.input :title, placeholder: t('maximum_70_symbols')
      = f.label :body
      = f.cktext_area :body
      = f.input :published_at
      = f.label :photo
      - if @news.photo
        = image_tag @news.main_photo.thumb
      = f.file_field :photo
      .form-actions
        = f.button :submit, t('save'), class: 'btn btn-primary'
        = link_to t('cancel', default: t("helpers.links.cancel")), news_index_path, class: 'btn'
