= simple_form_for @lesson do |f|
  = f.input :time
  = f.input :day
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to t('cancel', default: t("helpers.links.cancel")), schedule_path, class: 'btn'
