= stylesheet_link_tag "lessons"

.page-header
  %h1= t('schedule')
  %small
    .there_places.ident
    %span - в данной группе имеются свободные места
    %br
    .there_not_places.ident
    %span - в данной группе все места заняты
    %br
    .group_formed.ident
    %span - группа формируется и занятия пока не начались
- @genres.each do |genre|
  -#FIXME
  - if genre.groups.any? or session[:admin_id]
    %a{ href: genre_path(genre) }
      %img.img-rounded.mini{ src: genre.photo.thumb }
      %big= genre.title
    %br
    %br
    -#FIXME
    - if session[:admin_id]
      = link_to t('.add_group'), new_group_path, class: 'btn btn-primary margin-bottom'
    %table.table.talbe-striped.table-bordered.table-aligned
      %thead
        %th.first-column
          %small.very-small-text= t('group')
        %th
          %small.very-small-text= t('monday')
        %th
          %small.very-small-text= t('tuesday')
        %th
          %small.very-small-text= t('wednesday')
        %th
          %small.very-small-text= t('thursday')
        %th
          %small.very-small-text= t('friday')
        %th
          %small.very-small-text= t('saturday')
        %th
          %small.very-small-text= t('sunday')
        %th
          %small.very-small-text= t('.price')
        %th
          %small.very-small-text= t('.once_price')
        %th
          %small.very-small-text= t('.unlimit')
        -#FIXME
        - if session[:admin_id]
          %td
            %small= t('.actions')
      - genre.groups.decorate.each do |group|
        -# FIXME
        - if (group.lessons.any? or session[:admin_id]) and group.teacher.present?
          %tr
            %td.first-column
              %a{ href: teacher_path(group.teacher) }
                .micro-photo
                  = image_tag group.teacher.decorate.first_photo_thumb
                .micro-text-with-photo
                  %small.micro-text= group.teacher.decorate.fio
              %br
              %br
              = group.space_identificator
              %small.micro-text= group.category.describe if group.category.present?
            - @days.each do |day|
              %td
                %br
                %b.lesson-time-text= group.lesson_time(day)
                -#FIXME
                - if group.find_lesson_by_day(day) and session[:admin_id]
                  %br
                  = link_to t('edit', default: t("helpers.links.edit")), edit_lesson_path(group.find_lesson_by_day(day)), class: 'btn btn-mini margin-top'
                  = link_to t('destroy', default: t("helpers.links.destroy")), lesson_path(group.find_lesson_by_day(day)), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-mini btn-danger margin-top'
            %td
              = group.price
              = t('.rub')
            %td
              = group.once_price
              = t('.rub')
            - if session[:admin_id]
              %td
                = link_to t('.add_lesson'), new_lesson_url(group), class: 'btn btn-mini btn-primary margin-top'
                = link_to t('.edit_group'), edit_group_path(group), class: 'btn btn-mini btn-primary margin-top'
                = link_to t('.destroy_group', default: t("helpers.links.destroy")), group_path(group), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-mini btn-danger margin-top'
= link_to t('print'), schedule_pdf_path, class: 'btn'
%br
%br
%small
  .there_places.ident
  %span - в данной группе имеются свободные места
  %br
  .there_not_places.ident
  %span - в данной группе все места заняты
  %br
  .group_formed.ident
  %span - группа формируется и занятия пока не начались
  %span * Абонемент действует 4 недели (продление в случае отъезда -желательно билеты; в случае болезни - желательно справка, при отмене занятия по решению администрации танцевального центра)
  %ol
    %li Абонемент действует 4 недели (читай выше)
    %li
      %span.eng_symbols Sky Dance
      %span не несет ответственность за ухудшение здоровья, связанного с острым заболеванием либо обострением травмы или хронического заболевания, имеющегося у клиента до момента посещения, а также при получении травмы по неосторожности клиента.
    %li Запрещено использование техники танцевального центра без разрешения администрации.
    %li Администрация не несет ответственности за оставленные и забытые ценные вещи.
    %li Вы можете оставить ваши ценности у администратора.
#vk_comments
:javascript
  VK.Widgets.Comments("vk_comments", {limit: 10, width: "496", attach: "*"});
