= stylesheet_link_tag "teachers", media: "all"

= simple_form_for @teacher, html: { class: 'form-horizontal' } do |f|
  - f.with_options input_html: { class: 'col-md-6' } do |f|
    .field
      = f.input :first_name
      = f.input :middle_name
      = f.label :description
      = f.text_area :description, class: 'col-md-6', row: 5
      = f.input :motto, placeholder: t('not_more_than_140_symbols')
      %small= t('required_fields')
      .form-actions
        = f.button :submit, t('save'), class: 'btn btn-primary'
        = link_to t('cancel'), teachers_path, class: 'btn'
