= stylesheet_link_tag "teachers", :media => "all"

%h1
  = t('.teachers')
  %span.eng_symbols Sky Dance
%ul.thumbnails
  - @teachers.each do |teacher|
    %li.span3.teacher_cell
      .thumbnail
        %a{ :href => teacher_path(teacher) }
          = teacher.first_photo
        %h3= teacher.fio
        %p= teacher.motto
        - teacher.genres.each do |genre|
          %a{ :href => genre_path(genre) }
            %img.img-rounded.micro.row-icon{ :src => genre.photo }
        %br
        %br
        %a.btn.btn-medium{ :href => teacher_path(teacher) } Подробнее

        -#FIXME
        - if session[:admin_id]
          = link_to t('.edit', :default => t('helpers.links.edit')), edit_teacher_path(teacher), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), teacher_path(teacher), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
-#FIXME
- if session[:admin_id]
  = link_to t('.new_teacher'), new_teacher_path, :class => 'btn btn-primary'

