= stylesheet_link_tag "teachers", media: "all"

%h1
  = t('teachers')
  %span.eng_symbols Sky Dance
%ul.thumbnails
  - @teachers.each_with_index do |teacher, i|
    - if index_multiple_four?(i)
      %hr
    %li.col-md-3.teacher_cell
      .thumbnail.height_thumbnail
        %a{ href: teacher_path(teacher) }
          = image_tag teacher.first_photo_big_thumb
        %h3= teacher.fio
        %p= teacher.motto
        %a.btn.btn-default.btn-medium{ href: teacher_path(teacher) } Подробнее
        - if admin_signed_in?
          = link_to t('edit', default: t('helpers.links.edit')), edit_teacher_path(teacher), class: 'btn btn-xs btn-warning'
          = link_to t('destroy', default: t("helpers.links.destroy")), teacher_path(teacher), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-xs btn-danger'
- if admin_signed_in?
  %a{ href: new_teacher_path, class: 'btn btn-primary btn-medium' }
    = t('add')
