= @teacher.first_name
%br
= @teacher.middle_name
%br
= @teacher.description 
%br
= @teacher.motto
%p
-@teacher.teacher_photos.each do |photo|
  %img{ :src => photo }
= link_to t('.upload_photos'), "#{@teacher.id}/teacher_photos/new"
