= javascript_include_tag  "jquery-1.10.1.min.js"
= stylesheet_link_tag     "fotorama"
= javascript_include_tag  "fotorama"
= stylesheet_link_tag     "teachers"

.page-header
  %h1= @teacher.fio
.row-fluid
  .span7
    %p{ :align => "justify" }
      = @teacher.description
    %p
      -#FIXME
      - if session[:admin_id]
        .form-actions
          %small= t('.admins_buttons')
          %br
          = link_to t('.admins_photo'), admins_photos_url(@teacher), :class => 'btn btn-warning margin-bottom'
          %br
          = link_to t('.edit'), edit_teacher_path(@teacher), :class => 'btn'
          = link_to t('.destroy'), teacher_path(@teacher), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
    = link_to t('.back'), teachers_path, :class => 'btn'
  .span5
    .row-fluid
      .fotorama{ "data-transition" => "crossfade", "data-autoplay" => "true", "data-loop" => "true", "data-nav" => "thumbs", "data-width" => "400px", "data-ratio" => "800/600", "data-fit" => "cover" }
        = @teacher.photos.each do |file|
          %img{ :src => file.photo }
    .row-fluid
      %h3= @teacher.motto
.row-fluid
  #vk_comments
  :javascript
    VK.Widgets.Comments("vk_comments", {limit: 10, width: "496", attach: "*"});
