= stylesheet_link_tag "photos"

= simple_form_for @photo, :html => { :multipart => true } do |f|
  = f.label :photo
  = f.file_field :photo
  = f.button :submit, t('.add_photo'), :class => 'btn btn-primary'
