%hr
.span4

.span4
  %h3= t('.about_us')
  %a{ :href => "welcome#about" }= t('.about_us')
  %br
  %a{ :href => "welcome#place" }= t('.our_adress')
  %br
  %a{ :href => lessons_path }= t('.schedule_and_prices')
.span4
  %h3= t('.contacts')
  =t ('.phone')
  %h3 0 (000) 000 00 00
