.span4.offset4{ name: "footer" }
  %a{ href: about_welcome_index_path }
    %h3= t('about')
  %a{ href: about_welcome_index_path }
    = t('.sky_dance_is')
  %br
  %a{ href: schedule_path }
    = t('schedule_and_prices')
.span4
  %a{ href: contacts_welcome_index_path }
    %h3= t('contacts')
  = t('.phone')
  %h3 8 (8422) 70-02-28
