%html
  %head
    %meta{ content: "7281f75a3496aa1e3643f44c", name: "verify-reformal" }
    %title SkyDance
    = stylesheet_link_tag    "bootstrap_and_overrides", media: "all"
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{ src: "//vk.com/js/api/openapi.js?97", type: "text/javascript" }
    :javascript
      VK.init({apiId: 3721037, onlyWidgets: true});
  %body
    %a{ href: "/" }
      .main-logo.logo-sky-dance
    .container
      = render 'layouts/navbar'
    .row-fluid
      .container.content
        = flash_messages :close
        = yield
    = render 'layouts/reformal'
    = render 'layouts/footer'
