%html
%head
  %title SkyDance
  = stylesheet_link_tag    "application", :media => "all	"
  = javascript_include_tag "application"
  = stylesheet_link_tag    "bootstrap_and_overrides", :media => "all"
  = csrf_meta_tags
%body
  .navbar-wrapper.navbar-margin-top
    .container
      .navbar.navbar-opacity-white
        .navbar-inner
          %a.btn.btn-navbar{ "data-target" => ".nav-collapse", "data-toggle" => "collapse" }
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{ :href => "welcome#about" }= t('.about_us')
              %li
                %a{ :href => lessons_path }= t('.schedule_and_prices')
              %li
                %a{ :href => genres_path }= t('.dances')
              %li
                %a{ :href => teachers_path }= t('.teachers')
              %li
                %a{ :href => "welcome#contacts" }= t('.contacts')
  .row-fluid
    .container.content
      = yield
