%html
  %head
    %title SkyDance
    = stylesheet_link_tag    "bootstrap_and_overrides", media: "all"
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{ src: "//vk.com/js/api/openapi.js?97", type: "text/javascript" }
    :javascript
      VK.init({apiId: 3721037, onlyWidgets: true});
  %body
    %a{ href: "/" }
      .main-logo.logo-sky-dance
    .container
      .navbar-wrapper.navbar-margin-top.navbar-big-text.navbar-size
        .navbar.navbar-opacity-white
          .navbar-inner
            %a.btn.btn-navbar{ "data-target" => ".nav-collapse", "data-toggle" => "collapse" }
            .nav-collapse.collapse
              %ul.nav
                %li
                  %a{ href: about_welcome_index_path }= t('about')
                %li
                  %a{ href: schedule_path }= t('schedule_and_prices')
                %li
                  %a{ href: news_index_path }= t('news')
                %li
                  %a{ href: genres_path }= t('dances')
                %li
                  %a{ href: teachers_path }= t('teachers')
                %li
                  %a{ href: contacts_welcome_index_path }= t('contacts')
                %li
                  %script{ async: "true", src: "http://servant.indexisto.com/files/searchbox/searchbox.nocache.js?type=edit", type: "text/javascript" }
                  %input#indx_srchbox_527561ab273e25f2a99cf7d2.search-input{ autocomplete: "on", autocorrect: "on", placeholder: "поиск", type: "text" }
    .row-fluid
      .container.content
        = yield
    = render 'layouts/reformal'
    = render 'layouts/footer'
